# Linear and Logistics regression aplication

## Linear Regression

Applying Regression to solve Boston Housing Prediction Problem
https://medium.com/@haydar_ai/learning-data-science-day-9-linear-regression-on-boston-housing-dataset-cd62a80775ef

In [29]:
from pandas import DataFrame, read_csv

In [24]:
data = read_csv('../databases/boston-housing-prices.csv')
data.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MED
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [25]:
X = data.drop('MED', axis=1)
Y = data['MED']
print("Database Loaded")

Database Loaded

In [26]:
from sklearn.model_selection import train_test_split
Xtr, Xte, Ytr, Yte = train_test_split(X, Y, test_size = 0.33, random_state = 1)

from sklearn.metrics import mean_squared_error as mse

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(Xtr, Ytr)
print("\nModel Trained Using Sklearn Linear Regression")
print('MSE: ', mse(Yte, model.predict(Xte)))

Model Trained Using Sklearn Linear Regression
MSE:  20.783347345944268

In [27]:
from sklearn.linear_model import SGDRegressor as gradient_descent
print("\nModel Trained Using Sklearn Gradient Descent")
model = gradient_descent()
model.fit(Xtr, Ytr)
print('MSE: ', mse(Yte, model.predict(Xte)))

Model Trained Using Sklearn Gradient Descent
MSE:  8.059880638316009e+27